<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Admin panel</title>

    <!-- Подключение Bootstrap JavaScript и Popper.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .nav-item .nav-link {
            margin-right: -15px;
            margin-left: -15px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .nav-link-text {
            padding-left: 15px;
            padding-right: 15px;
        }
    </style>
</head>
<body>

<!-- Навигационная панель -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div>
        <span class="text-white font-weight-bold" th:text="${person.email}"></span>
        <span class="text-white"> with roles: </span>
        <span class="text-white font-weight-bold" th:each="role, iterStat : ${person.roles}"
              th:text="${role} + (iterStat.last ? '' : ', ')">
            </span>
    </div>
    <div class="navbar-nav ml-auto">
        <a class="btn btn-outline-light my-2 my-sm-0" href="/logout"
           style="color: #adb5bd; background-color: transparent; border-color: transparent;">Logout</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- Меню слева -->
        <div class="col-md-2 bg-white">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="/admin" class="nav-link bg-primary text-white">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="/user" class="nav-link text-primary">User</a>
                </li>
            </ul>
        </div>

        <!-- Основной контент -->
        <div class="col-md-10 bg-light" style="min-height: 100vh;">
            <h1 class="display-5 font-weight-bold">Admin panel</h1>
            <!-- Кнопки управления -->
            <div>
                <a href="#" class="btn btn-white active"
                   style="color: #6c757d; background-color: #FFFFFF ; border-color: #DCDCDC;">Users
                    table</a>
                <a href="/admin/new" type="button" class="btn btn-link text-primary" style="text-decoration: none; color: inherit;">New
                    User
                </a>
            </div>
            <div class="card">
                <div class="card-header font-weight-bold">
                    All users
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID:</th>
                        <th>Username:</th>
                        <th>Email:</th>
                        <th>Roles:</th>
                        <th>Edit:</th>
                        <th>Delete:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="person : ${people}">
                        <td th:text="${person.id}"></td>
                        <td th:text="${person.username}"></td>
                        <td th:text="${person.email}"></td>
                        <td>
                            <ul>
                                <li th:each="role : ${person.roles}" th:text="${role}"></li>
                            </ul>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary edit-user-button"
                                    data-toggle="modal" data-target="#exampleModal"
                                    th:data-id="${person.id}"
                                    th:data-username="${person.username}"
                                    th:data-email="${person.email}">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger delete-user-button" data-toggle="modal"
                                    data-target="#deleteUserModal"
                                    th:data-id="${person.id}" th:data-username="${person.username}"
                                    th:data-email="${person.email}">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form id="userForm" th:method="POST" th:action="@{/admin/edit}" class="mx-auto w-50">
                    <div class="form-group">
                        <label for="user_ID" class="col-form-label"><strong>ID:</strong></label>
                        <input type="text" class="form-control" id="user_ID" name="user_ID" readonly>
                    </div>
                    <div class="form-group">
                        <label for="user_Username" class="col-form-label"><strong>USERNAME:</strong></label>
                        <input type="text" class="form-control" id="user_Username" name="user_Username">
                    </div>
                    <div class="form-group">
                        <label for="user_Password" class="col-form-label"><strong>PASSWORD:</strong></label>
                        <input type="text" class="form-control" id="user_Password" name="user_Password">
                    </div>
                    <div class="form-group">
                        <label for="user_EMAIL" class="col-form-label"><strong>EMAIL:</strong></label>
                        <input type="text" class="form-control" id="user_EMAIL" name="user_Email">
                    </div>
                    <div class="form-group">
                        <label for="user_Role" class="col-form-label"><strong>ROLE:</strong></label>
                        <select multiple size=2 class="form-control" id="user_Role" name="user_Role">
                            <option value="ROLE_ADMIN">Admin</option>
                            <option value="ROLE_USER">User</option>
                        </select>
                    </div>
            </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete User -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form id="deleteUserForm" th:method="POST" th:action="@{/admin/delete}" class="mx-auto w-50">
                    <div class="form-group">
                        <label for="deleteUser_ID"><strong>ID:</strong></label>
                        <input type="text" class="form-control" id="deleteUser_ID" name="deleteUser_ID" readonly>
                    </div>
                    <div class="form-group">
                        <label for="deleteUser_Username"><strong>Username:</strong></label>
                        <input type="text" class="form-control" id="deleteUser_Username" name="deleteUser_Username"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="deleteUser_Email"><strong>Email:</strong></label>
                        <input type="email" class="form-control" id="deleteUser_Email" name="deleteUser_Email"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="deleteUser_Role"><strong>Role:</strong></label>
                        <select size=2 class="form-control" id="deleteUser_Role" name="deleteUser_Role" disabled>
                            <option value="ROLE_ADMIN">Admin</option>
                            <option value="ROLE_USER">User</option>
                        </select>
                    </div>
            </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit user script-->
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var username = button.data('username');
        var email = button.data('email');

        // Заполняем поля модального окна
        var modal = $(this);
        modal.find('#user_ID').val(id);
        modal.find('#user_Username').val(username);
        modal.find('#user_EMAIL').val(email);
    });
</script>
<!-- Delete user script-->
<script>
    $('#deleteUserModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var username = button.data('username');
        var email = button.data('email');

        var modal = $(this);
        modal.find('#deleteUser_ID').val(id);
        modal.find('#deleteUser_Username').val(username);
        modal.find('#deleteUser_Email').val(email);
    });
</script>

</body>
</html>